PORT=4000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=oxfox_studio

JWT_SECRET=change-this-to-a-long-random-secret
JWT_EXPIRES_IN=7d

ADMIN_PHONE=7395906336
ADMIN_STATIC_OTP=1234

FRONTEND_ORIGIN=http://localhost:3000
